[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
numpy = "*"
jdatetime = "*"
matplotlib = "*"
hazm = "*"
spacy = "*"
nltk = "*"
gensim = "*"
folium = "*"
geopandas = {version="==0.13.2"}
geoplot = "*"
python-telegram-bot = "*"
selenium = "*"
feedparser = "*"
scikit-learn="*"
transformers="*"
torch="*"
cartopy = "*"
pyproj= {version="==3.6.0"}

[dev-packages]

[requires]
python_version = "3.10"
