[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
numpy = "*"
jdatetime = "*"
matplotlib = "*"
hazm = "*"
spacy = "*"
nltk = "*"
gensim = "*"
folium = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
